.App {
  text-align: center;
}

.App {
  background-color: #f7d596;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(2, 124, 39, 0.945);
}
